@using coReport.Models.AdminViewModels
@using coReport.Models.ProjectViewModels
@model AdminPanelViewModel
@{
    ViewData["Title"] = "پنل ادمین";
}

<link href="~/lib/Chart.js/Chart.min.css" rel="stylesheet" />
<div>

    <div class="row" style="margin-top:40px">
        <div class="col-md border border-dark p-2 box-widget">
            <span><b>فعالیت کاربران</b></span>
            <a class="btn btn-primary btn-sm float-left" asp-action="ManageUsers" asp-controller="Admin">مدیریت کاربران</a>
            <hr />
            <div class="chart-container">
                <canvas id="reportsChart"></canvas>
            </div>
        </div>

        <div class="col-md border border-dark p-2 box-widget">
            <span><b>پروژه ها</b></span>
            <button class="btn btn-primary btn-sm float-left" data-toggle="modal" data-target="#createProject">ایجاد پروژه جدید</button>
            <hr />
            @if (Model.Projects.Count() == 0)
            {
                <div class="text-center"><b>پروژه‌ای موجود نیست.</b></div>
            }
            else
            {
                foreach (var project in Model.Projects)
                {
                    <partial name="ProjectPartialView" model="project" />
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md border border-dark p-2 box-widget">
            <h6><b>پیام ها</b></h6>
            <hr />
            @if (Model.Messages.Count() == 0)
            {
                <div class="text-center"><b>پیامی موجود نیست.</b></div>
            }
            else
            {
                foreach (var message in Model.Messages)
                {
                    <partial name="_MessagePartialView" model="message" />
                }
            }
        </div>
    </div>
</div>


<div id="createProject" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h6>ایجاد پروژه</h6>
            </div>
            <form asp-action="AddProject" method="post" role="form">
                <div class="form-group" style="margin-top: 10px">
                    <label class="col-md-4">عنوان پروژه</label>
                    <div class="col-md-10">
                        <input type="text" name="projectName" data-val="true" data-val-required="عنوان پروژه اجباری است." class="form-control" />
                        <span  class="text-danger field-validation-valid" data-valmsg-for="projectName" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">ثبت</button>
                </div>
            </form>
        </div>

    </div>
</div>


@section scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>

    <script>
    var days = JSON.parse('@Html.Raw(Json.Serialize(@Model.Days))');
    var userReportCount = JSON.parse('@Html.Raw(Json.Serialize(@Model.UsersReportCount))');
    var managerReportCount = JSON.parse('@Html.Raw(Json.Serialize(@Model.ManagersReportCount))');
    var context = document.getElementById('reportsChart').getContext('2d');
    var myChart = new Chart(context, {
        type: 'bar',
            data: {
            labels: days,
            datasets: [
                {
                    data: userReportCount,
                    label: "گزارشات کارمندان",
                    backgroundColor: "#483b9b",
                    fill: true
                },
                {
                    data: managerReportCount,
                    label: "گزارشات مدیران",
                    backgroundColor: "#b2812c",
                    fill: true
                }
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 1
                    }
                }]
            }
        }
    });

    function DeleteMessage(id) {
            bootbox.confirm({
                message: "آیا می‌خواهید این پیام را حذف کنید؟",
                buttons: {
                    confirm: {
                        label: 'بله',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'خیر',
                        className: 'btn-secondary'
                    }
                },
                callback: function (result) {
                    if (result)
                        $.ajax({
                            url: "/Message/DeleteMessage",
                            data: { id: id }
                        }).done(function () {
                            location.reload();
                        });
                }
            });
        }


        function ViewMessage(id)
        {
            $.ajax({
                url: "/Message/SetViewed",
                data: { id: id }
            });
        }

        function EndProject(id)
        {
            bootbox.confirm({
                message: "آیا مایلید به این پروژه خاتمه دهید؟",
                buttons: {
                    confirm: {
                        label: 'بله',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'خیر',
                        className: 'btn-secondary'
                    }
                },
                callback: function (result) {
                    if (result)
                        $.ajax({
                            url: "/Admin/EndProject",
                            data: { id: id }
                        }).done(function () {
                            location.reload();
                        });
                }
            });
        }

    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
        $('.seen-False').attr('style', 'background-color:lightgray');
        $('.ended-True').attr('style', 'background-color:lightgray');
        $('[data-toggle="popover"]').click(function () {
            $(this).parent().parent().attr('style', 'background-color:white');
        });
    });
    </script>
}