@using coReport.Models.ReportViewModel
@model ReportViewModel

<div class="border border-dark p-2 rounded user-card">
    <div class="col">
        <h5>@Model.Title</h5>
        <span class="span-control"><i class="fas fa-user"></i> @Model.Author.FirstName @Model.Author.LastName</span>
        <span class="span-control"><i class="fas fa-calendar-alt"></i> @Model.Date.Date.ToString("MM/dd/yyyy")</span>
        <span class="span-control">پروژه @Model.ProjectName</span>
        <a asp-action="CheckUserReport" asp-controller="Report" asp-route-id="@Model.Id" class="btn btn-primary float-left" style="margin-top:-15px">بررسی</a>
    </div>
</div>