@using coReport.Models.ReportViewModel
@model ReportViewModel
@{
    ViewData["Title"] = "گزارش";
}

    <link href="~/lib/quill/quill.bubble.css" rel="stylesheet" />
    <div class="p-2 box-widget">
        <div class="container">

            <h5>جزئیات گزارش</h5>
            <hr />
            <h5>@Model.Title</h5>
            <div class="row">
                <div class="col-md-2">
                    <div>
                        <b>نویسنده</b>: @Model.Author.FirstName @Model.Author.LastName
                    </div>
                    <div>
                        <b>نام پروژه</b>: @Model.ProjectName
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <b>زمان ورود</b>: @Model.EnterTime.ToString("HH:mm")
                    </div>
                    <div>
                        <b>تاریخ ثبت</b>: @Model.Date.ToString("MM/dd/yyyy")
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <b>زمان خروج</b>: @Model.ExitTime.ToString("HH:mm")
                    </div>
                </div>
            </div>
            <hr />


            <h5>گزارش</h5>
            <div id="editor">
            </div>
            @if (Model.AttachmentName != null)
            {
                <div>
                    <a class="btn btn-link" asp-controller="Report" asp-action="DownloadReportAttachment" asp-route-fileName="@Model.AttachmentName">
                        <i class="fas fa-paperclip"></i> دانلود ضمیمه
                    </a>
                </div>
            }
            else
            {
                <div class="text-muted">ضمیمه‌ای موجود نیست.</div>
            }
            <br />
            <a class="btn btn-secondary" asp-action="ManageReports" asp-route-nav="unseen">بازگشت</a>
        </div>
    </div>
<script src="~/lib/quill/quill.js"></script>
<script>
    //Quil rich text initialization
    var FontAttributor = Quill.import('attributors/class/font');
    FontAttributor.whitelist = [
     'arial','default' ,'times-new-roman'
    ];
    Quill.register(FontAttributor, true);
    var quill = new Quill('#editor', {
        theme: 'bubble',
        readOnly: true
    });
    quill.setContents(@Html.Raw(Model.Text));
</script>