@using coReport.Models.ManageViewModels
@model AdministrationViewModel
@{
    ViewData["Title"] = "مدیریت";
    ViewData["ViewName"] = "Administration";
}
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/date-picker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />

<form asp-controller="Manage" asp-action="Administration" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-md">
            <div class="col-md">
                <h5>تغییر نقش کاربر</h5>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Role" class="col-md control-label"></label>
                <div class="col-md">
                    <select id="role_select" asp-for="Role" asp-items="@Model.Roles" class="form-control"></select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ManagerIds" class="col-md control-label"></label>
                <div class="col-md">
                    <select id="manager_multiselect" asp-for="ManagerIds" style="width: 100%" multiple="multiple">
                        <option></option>
                        @foreach (var user in Model.Managers)
                        {
                            <option value="@user.Id">@user.FirstName @user.LastName</option>
                        }
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="col-md">
                <h5>مسدود کردن کاربر</h5>
            </div>
            <hr />
            <input asp-for="Username" hidden="hidden" class="form-control" />



            <div class="form-group">
                <span class="col-md"> مسدود کردن کاربر؟</span>
                <input id="banned" asp-for="IsBanned" />
            </div>
            <div class="form-group" id="date_field">
                <label asp-for="BanEnd" class="col-md control-label"></label>
                <div class="col-md">
                    <input id="bantime" type="text" hidden asp-for="BanEnd" class="form-control" />
                    <input type="text" name="date_persian" id="bantime_text" autocomplete="off" class="form-control"
                           data-val="true" data-val-required="فیلد زمان پایان منع کاربر اجباری است." />
                    <span class="text-danger field-validation-valid" data-valmsg-for="date_persian" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <button type="submit" class="btn btn-primary">ذخیره</button>
        </div>
    </div>
</form>

@section scripts
{
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/select2/js/i18n/fa.js"></script>
    <script src="~/lib/date-picker/jquery.md.bootstrap.datetimepicker.js"></script>

    <script>
        $('#manager_multiselect').select2({
            placeholder: 'انتخاب کنید...',
            dir: 'rtl',
            language: 'fa'
        });

        $('#date_field').MdPersianDateTimePicker({
            targetTextSelector: '#bantime_text',
            targetDateSelector: '#bantime',
            disableBeforeToday: true,
            enableTimePicker: true
        });
        $(document).ready(function () {

            $('#date_field').MdPersianDateTimePicker('setDate', new Date());

            if ($('#role_select').val() == 'Employee') {
                $('#manager_multiselect').prop('disabled', false);
                $('#manager_multiselect').parent().parent().prop('hidden', false);
            }
            else {
                $('#manager_multiselect').prop('disabled', true);
                $('#manager_multiselect').parent().parent().prop('hidden', true);
            }

            $('#role_select').change(function () {
                if ($(this).val() == 'Employee') {
                    $('#manager_multiselect').prop('disabled', false);
                    $('#manager_multiselect').parent().parent().prop('hidden', false);
                }
                else {
                    $('#manager_multiselect').prop('disabled', true);
                    $('#manager_multiselect').parent().parent().prop('hidden', true);
                }
            });

            if ($("#banned").prop("checked") == true) {
                $("#bantime_text").prop("disabled", false);
            }
            else if ($("#banned").prop("checked") == false) {
                $("#bantime_text").prop("disabled", true);
            }

            $('input[type="checkbox"]').click(function () {
                if ($("#banned").prop("checked") == true) {
                    $("#bantime_text").prop("disabled", false);
                }
                else if ($("#banned").prop("checked") == false) {
                    $("#bantime_text").prop("disabled", true);
                }
            });
        });
    </script>
}

