@using coReport.Models.ReportViewModel
@model ManagerReportViewModel
@{
    ViewData["Title"] = "گزارش";
}

<link href="~/lib/quill/quill.bubble.css" rel="stylesheet" />
<div class="p-2 box-widget">
    <div class="container">

        <h5>جزئیات گزارش</h5>
        <hr />
        <h5>@Model.UserReport.Title</h5>
        <div class="row">
            <div class="col-md-2">
                <div>
                    <b>نویسنده</b>: @Model.UserReport.Author.FirstName @Model.UserReport.Author.LastName
                </div>
                <div>
                    <b>نام پروژه</b>: @Model.UserReport.ProjectName
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <b>زمان ورود</b>: @Model.UserReport.EnterTime.ToString("HH:mm")
                </div>
                <div>
                    <b>تاریخ ثبت</b>: @Model.UserReport.Date.ToString("MM/dd/yyyy")
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <b>زمان خروج</b>: @Model.UserReport.ExitTime.ToString("HH:mm")
                </div>
            </div>
        </div>
        <hr />


        <div class="form-group">
            <label class="col-md control-label">گزارش کارمند</label>
            <div id="editor"></div>
        </div>
        @if (Model.UserReport.AttachmentName != null)
        {
            <div>
                <a class="btn btn-link" asp-controller="Report" asp-action="DownloadReportAttachment" asp-route-fileName="@Model.UserReport.AttachmentName">
                    <i class="fas fa-paperclip"></i> دانلود ضمیمه
                </a>
            </div>
        }
        else
        {
            <div class="text-muted">ضمیمه‌ای موجود نیست.</div>
        }
        <hr />
        <form asp-controller="Report" asp-action="CreateManagerReport" method="post" class="form-horizontal" role="form">
            <input asp-for="UserReport.Id" type="hidden" />
            <input asp-for="UserReport.Author.Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Text" class="col-md control-label"></label>
                <div class="col-md">
                    <textarea cols="15" rows="4" asp-for="Text" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="IsAcceptable" class="col-md control-label"></label>
                    <div class="col-md">
                        <select asp-for="IsAcceptable" class="form-control">
                            <option value="True">قابل قبول</option>
                            <option value="False">غیرقابل قبول</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="IsViewableByUser" class="col-md control-label"></label>
                    <div class="col-md">
                        <select asp-for="IsViewableByUser" class="form-control">
                            <option value="False">غیرقابل مشاهده برای کارمند</option>
                            <option value="True">قابل مشاهده برای کارمند</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">ثبت</button>
            <a class="btn btn-secondary" asp-controller="Manager" asp-action="ManageReports">بازگشت</a>
        </form>
    </div>
</div>
@section Scripts {
    <script src="~/lib/quill/quill.js"></script>
    <script>
    //Quil rich text initialization
    var FontAttributor = Quill.import('attributors/class/font');
    FontAttributor.whitelist = [
     'arial','default' ,'times-new-roman'
    ];
    Quill.register(FontAttributor, true);
    var quill = new Quill('#editor', {
        theme: 'bubble',
        readOnly: true
    });
    quill.setContents(@Html.Raw(Model.UserReport.Text));

    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}