@using coReport.Models.ReportViewModel
@model ManagerReportViewModel
@{
    ViewData["Title"] = "گزارش";
}

<link href="~/lib/quill/quill.bubble.css" rel="stylesheet" />
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />

<div class="p-2 box-widget">
    <div class="container">

        <h5>جزئیات گزارش</h5>
        <hr />
        @if (Model.UserReport.SubActivityName != null)
        {
            <h5>
                @Model.UserReport.Title <small class="text-muted">@Model.UserReport.ActvivityName &raquo; @Model.UserReport.SubActivityName</small>
            </h5>
        }
        else
        {
            <h5>@Model.UserReport.Title <small class="text-muted">@Model.UserReport.ActvivityName</small></h5>
        }
        <div class="row">
            <div class="col-md-2">
                <div>
                    <b>نویسنده</b>: @Model.UserReport.Author.FirstName @Model.UserReport.Author.LastName
                </div>
                <div>
                    <b>نام پروژه</b>: @Model.UserReport.ProjectName
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <b>زمان شروع کار</b>: @Model.UserReport.TaskStartTime.ToString("HH:mm")
                </div>
                <div>
                    <b>تاریخ ثبت</b>: @Model.UserReport.Date.GetDate()
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <b>زمان پایان کار</b>: @Model.UserReport.TaskEndTime.ToString("HH:mm")
                </div>
            </div>
        </div>
        <hr />


        <div class="form-group">
            <label class="col-md control-label font-weight-bold">گزارش کارمند</label>
            <div id="editor"></div>
        </div>
        @if (Model.UserReport.AttachmentName != null)
        {
            <div>
                @{
                    Html.BeginForm("DownloadReportAttachment", "Report", FormMethod.Get);
                    {
                        <input type="hidden" value="@Model.UserReport.AttachmentName" name="fileName" />
                        <button class="btn btn-link" type="submit"><i class="fas fa-paperclip"></i> دانلود ضمیمه</button>
                    }
                    Html.EndForm();
                }
            </div>
        }
        else
        {
            <div class="text-muted"><small>ضمیمه‌ای موجود نیست.</small></div>
        }
    </div>
</div>

<div class="p-2 box-widget">
    <div class="container">
        <form asp-controller="Report" asp-action="CreateManagerReport" method="post" class="form-horizontal" role="form">
            <input asp-for="UserReport.Id" type="hidden" />
            <input asp-for="UserReport.Author.Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Text" class="col-md control-label font-weight-bold"></label>
                <div class="col-md">
                    <textarea cols="15" rows="4" asp-for="Text" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label asp-for="IsAcceptable" class="col-md control-label" style="width:100%"></label>
                    <div class="col-md">
                        <select asp-for="IsAcceptable" class="form-control">
                            <option value="True">قابل قبول</option>
                            <option value="False">غیرقابل قبول</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="IsViewableByUser" class="col-md control-label" style="width:100%"></label>
                    <div class="col-md">
                        <select asp-for="IsViewableByUser" class="form-control">
                            <option value="False">غیرقابل مشاهده برای کارمند</option>
                            <option value="True">قابل مشاهده برای کارمند</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md">
                    <button type="submit" class="btn btn-primary">ثبت</button>
                    <a class="btn btn-secondary" asp-controller="Manager" asp-action="ManageReports">بازگشت</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/lib/quill/quill.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/select2/js/i18n/fa.js"></script>
    <script>
    $(document).ready(function () {
        $('select').select2({
            dir: 'rtl',
            language: 'fa',
            minimumResultsForSearch: -1
        });
    });
    //Quil rich text initialization
    var FontAttributor = Quill.import('attributors/class/font');
    FontAttributor.whitelist = [
     'arial','default' ,'times-new-roman'
    ];
    Quill.register(FontAttributor, true);
    var quill = new Quill('#editor', {
        theme: 'bubble',
        readOnly: true
    });
    quill.setContents(@Html.Raw(Model.UserReport.Text));

    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
