@using coReport.Models.ReportViewModel
@model ManagerReportViewModel
@{
    ViewData["Title"] = "گزارش";
}

<link href="~/lib/quill/quill.bubble.css" rel="stylesheet" />
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/quill/quill.snow.css" rel="stylesheet" />
<div class="p-2 box-widget">
    <div class="container">

        <h5>جزئیات گزارش</h5>
        <hr />
        @if (Model.UserReport.SubActivityName != null)
        {
            <h5>
                @Model.UserReport.Title <small class="text-muted">@Model.UserReport.ActvivityName &raquo; @Model.UserReport.SubActivityName</small>
            </h5>
        }
        else
        {
            <h5>@Model.UserReport.Title <small class="text-muted">@Model.UserReport.ActvivityName</small></h5>
        }
        <div class="row">
            <div class="col-md-2">
                <div>
                    <b>نویسنده</b>: @Model.UserReport.Author.FirstName @Model.UserReport.Author.LastName
                </div>
                <div>
                    <b>نام پروژه</b>: @Model.UserReport.ProjectName
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <b>زمان شروع کار</b>: @Model.UserReport.TaskStartTime.ToString("HH:mm")
                </div>
                @if (Model.UserReport.Date != null)
                { 
                    <div>
                            <b>تاریخ ثبت</b>: @Model.UserReport.Date.GetDate()
                    </div>
                }
            </div>
            <div class="col-md-2">
                <div>
                    <b>زمان پایان کار</b>: @Model.UserReport.TaskEndTime.ToString("HH:mm")
                </div>
            </div>
        </div>
        <hr />


        <div class="form-group">
            <label class="col-md control-label font-weight-bold">گزارش کارمند</label>
            <div class="col-md">
                <div id="quill_user_report"></div>
            </div>
        </div>
        @if (Model.UserReport.AttachmentName != null)
        {
            <div class="col-md">
                @{
                    Html.BeginForm("DownloadReportAttachment", "Report", FormMethod.Get);
                    {
                        <input type="hidden" value="@Model.UserReport.AttachmentName" name="fileName" />
                        <input type="hidden" value="@Model.UserReport.Title" name="reportTitle" />
                        <button class="btn btn-link" type="submit"><i class="fas fa-paperclip"></i> دانلود ضمیمه</button>
                    }
                    Html.EndForm();
                }
            </div>
        }
        else
        {
            <div class="col-md text-muted"><small>ضمیمه‌ای موجود نیست.</small></div>
        }
    </div>
</div>

<div class="p-2 box-widget">
    <div class="container">
        <form id="manager_report" asp-controller="Report" asp-action="CreateManagerReport" method="post" class="form-horizontal" role="form">
            <input asp-for="UserReport.Id" hidden />
            <input asp-for="UserReport.Author.Id" hidden />
            <input asp-for="UserReport.Author.FirstName" hidden />
            <input asp-for="UserReport.Author.LastName" hidden />
            <input asp-for="UserReport.ProjectName" hidden />
            <input asp-for="UserReport.TaskStartTime" hidden />
            <input asp-for="UserReport.TaskEndTime" hidden />
            <input asp-for="UserReport.Date" hidden />
            <input asp-for="UserReport.Text" hidden />
            <input asp-for="UserReport.ActvivityName" hidden />
            <input asp-for="UserReport.SubActivityName" hidden />
            <input asp-for="UserReport.AttachmentName" hidden />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <h6 class="col-md control-label font-weight-bold">گزارش مدیر</h6>
                <div class="col-md">
                    <textarea id="text" hidden="hidden" asp-for="Text"></textarea>
                    <div id="quill_manager_report"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label asp-for="IsAcceptable" class="col-md control-label" style="width:100%"></label>
                    <div class="col-md">
                        <select asp-for="IsAcceptable" class="form-control select2">
                            <option value="True">قابل قبول</option>
                            <option value="False">غیرقابل قبول</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="IsViewableByUser" class="col-md control-label" style="width:100%"></label>
                    <div class="col-md">
                        <select asp-for="IsViewableByUser" class="form-control select2">
                            <option value="False">غیرقابل مشاهده برای کارمند</option>
                            <option value="True">قابل مشاهده برای کارمند</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md">
                    <button type="submit" class="btn btn-primary">ثبت</button>
                    <a class="btn btn-secondary" asp-controller="Manager" asp-action="ManageReports">بازگشت</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/lib/quill/quill.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/select2/js/i18n/fa.js"></script>
    <script>
    $(document).ready(function () {
        $('.select2').select2({
            dir: 'rtl',
            language: 'fa',
            minimumResultsForSearch: -1
        });


        //set contents of editor to manager report


    });

        //Quill editor for user report
        var FontAttributor = Quill.import('attributors/class/font');
        FontAttributor.whitelist = [
         'arial','default' ,'times-new-roman'
        ];
        var Size = Quill.import('attributors/style/size');
        Size.whitelist = ['12px', '15px', '18px', '20px'];
        Quill.register(Size, true);
        Quill.register(FontAttributor, true);
        var quill_user = new Quill('#quill_user_report', {
            theme: 'bubble',
            readOnly: true
        });
        quill_user.setContents(@Html.Raw(Model.UserReport.Text));


        //Quil editor for manager report
        Quill.register(FontAttributor, true);

        var toolbarOptions = [
            [{ 'font': ['arial', 'default', 'times-new-roman'] }],
            [{ 'size': ['12px', '15px', '18px', '20px'] }],
            ['bold', 'italic', 'underline', 'strike'],
            [{ 'align': [] }],
            [{ 'direction': 'rtl' }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'header': [1, 2, 3, false] }],
            ['code-block']
        ];

        var quill_manager = new Quill('#quill_manager_report', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });
        quill_manager.setContents(@Html.Raw(Model.Text));

        $('#manager_report').on('submit', function () {
            $('#text').val(JSON.stringify(quill_manager.getContents()));
        });


    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
