@using coReport.Models.ReportViewModel
@using coReport.Operations
@model CreateReportViewModel
@{
    ViewData["Title"] = "ایجاد گزارش";
}
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/quill/quill.snow.css" rel="stylesheet" />
<link href="~/lib/filepond/filepond.css" rel="stylesheet" />

<div class="p-2 box-widget rounded">
    <div class="container-fluid">
        <form id="form" onsubmit="fetchText()" asp-controller="Report" asp-action="Create" method="post"
              class="form-horizontal" role="form" enctype="multipart/form-data">
            <h5>ایجاد گزارش</h5>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="AuthorId" type="hidden" />
            <div class="form-group">
                <label asp-for="Title" class="col-md-3 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label asp-for="ProjectId" class="col-md control-label"></label>
                    <div class="col-md">
                        <select id="project_select" asp-for="ProjectId" style="width: 100%">
                            <option></option>
                            @foreach (var project in Model.Projects)
                            {
                                <option value="@project.Id">@project.Title</option>
                            }
                        </select>
                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="ProjectManagerIds" class="col-md control-label"></label>
                    <div class="col-md">
                        <select id="manager_multiselect" asp-for="ProjectManagerIds" style="width: 100%" multiple="multiple">
                            <option></option>
                            @foreach (var user in Model.Managers)
                            {
                                <option value="@user.Id">@user.FirstName @user.LastName</option>
                            }
                        </select>
                        <span asp-validation-for="ProjectManagerIds" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    <label asp-for="ActivityId" class="col-md control-label"></label>
                    <div class="col-md">
                        <select id="activity_select" asp-for="ActivityId" class="form-control" style="width: 100%">
                            <option></option>
                            @foreach (var activity in Model.Activities)
                            {
                                <option value="@activity.Id">@activity.Name</option>
                            }
                        </select>
                        <span asp-validation-for="ActivityId" class="text-danger"></span>
                    </div>
                </div>
                <div id="subactivity" hidden class="col-md-4 form-group">
                    <label class="col-md control-label"></label>
                    <div class="col-md">
                        <select disabled asp-for="SubActivityId" class="form-control" style="width: 100%"></select>
                        <span asp-validation-for="SubActivityId" class="text-danger"></span>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 form-group">
                    <label asp-for="TaskStartTime" class="col-md control-label"></label>
                    <div class="col-md">
                        <input asp-for="TaskStartTime" class="form-control" />
                        <span asp-validation-for="TaskStartTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label asp-for="TaskEndTime" class="col-md control-label"></label>
                    <div class="col-md">
                        <input asp-for="TaskEndTime" class="form-control" />
                        <span asp-validation-for="TaskEndTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />



            <div class="form-group">
                <div class="col-md-11">
                    <textarea hidden="hidden" id="text" asp-for="Text"></textarea>
                    <h5>گزارش</h5>
                    <div id="editor">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AttachmentName" class="col-md-4 control-label"></label>
                <div class="col-md-5" style="margin-top: 10px">
                    <input hidden id="attachmentName" asp-for="AttachmentName"/>
                    <input name="attachment" type="file" class="form-control-file filepond" data-max-file-size="500MB" />
                    <span asp-validation-for="AttachmentName" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md">
                    <button type="submit" class="btn btn-primary">ثبت</button>
                    <a class="btn btn-secondary" asp-controller="Account" asp-action="ManageReports">بازگشت</a>
                </div>
            </div>
        </form>
    </div>
</div>




@section Scripts {

    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/select2/js/i18n/fa.js"></script>
    <script src="~/lib/quill/quill.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/lib/filepond/filepond-plugin-file-validate-size.js"></script>
    <script src="~/lib/filepond/filepond.js"></script>

    <script>
        $(document).ready(function () {
            $('#manager_multiselect').select2({
                placeholder: 'انتخاب کنید...',
                dir: 'rtl',
                language: 'fa'
            });
            $('#project_select').select2({
                placeholder: 'انتخاب کنید...',
                dir: 'rtl',
                language: 'fa'
            });
            $('#activity_select').select2({
                placeholder: 'فعالیت را انتخاب کنید...',
                minimumResultsForSearch: -1,
                dir: 'rtl',
                language: 'fa'
            });
            $('#subactivity :input').select2({
                placeholder: 'فعالیت را انتخاب کنید...',
                minimumResultsForSearch: -1,
                dir: 'rtl',
                language: 'fa'
            });
            $('#subactivity :input').change(function () {
                quill.root.dataset.placeholder = 'اطلاعات مختص ' + $('#subactivity :input option:selected').text()
                    + ' را در گزارش خود وارد کنید...';
            });


            $('#activity_select').change(function () {
                $.ajax({
                    url: "@Url.Action("GetSubActivities","Report")",
                    data: { selectedActivityId: $(this).val() }
                }).done(function (ajaxResult) {
                    if (ajaxResult.length != 0) {
                        $('#subactivity').prop('hidden', false);
                        $('#subactivity >label').text($('#activity_select option:selected').text());
                        $('#subactivity :input').prop('disabled', false);
                        $('#subactivity :input').empty();
                        ajaxResult.forEach(function (element) {
                            var option = new Option(element.Value, element.Key);
                            $('#subactivity :input').append(option).trigger('change');
                        });
                    }
                    else {
                        $('#subactivity').prop('hidden', true);
                        $('#subactivity :input').prop('disabled', true);
                        quill.root.dataset.placeholder = 'اطلاعات مختص ' +
                            $('#activity_select option:selected').text() + ' را در گزارش خود وارد کنید...';
                    }
                }).fail(function () {
                    bootbox.alert({
                        closeButton: false,
                        message: "خطا در ارتباط با سرور!",
                        buttons: {
                            ok: {
                                label: 'بستن'
                            }
                        }
                    });
                });
            });
        });
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        var uploadInput = document.querySelector('input[type="file"]');
        var filepond = FilePond.create(uploadInput);
        FilePond.setOptions({
            server: {
                url: "@Url.Action("UploadAttachment", "Report")",
                process: {
                    onload: (response) => $('#attachmentName').val(response)
                }
            }

        });

        var FontAttributor = Quill.import('attributors/class/font');
        FontAttributor.whitelist = [
            'arial', 'default', 'times-new-roman'
        ];
        var Size = Quill.import('attributors/style/size');
        Size.whitelist = ['12px', '15px', '18px', '20px'];
        Quill.register(Size, true);
        Quill.register(FontAttributor, true);

        var toolbarOptions = [
          [{ 'font': ['arial', 'default', 'times-new-roman'] }],
          [{ 'size': ['12px', '15px', '18px', '20px'] }],
          ['bold', 'italic', 'underline', 'strike'],
          [{ 'align': [] }],
          [{ 'direction': 'rtl' }],
          [{ 'color': [] } , { 'background': [] }],
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'header': [1, 2, 3, false] }],
          ['code-block']
         ];

        var quill = new Quill('#editor', {
            modules: {
        toolbar: toolbarOptions
        },
        theme: 'snow'
        });

        quill.setContents(@Html.Raw(Model.Text));

        function fetchText()
        {
            var textBox = document.getElementById("text");
            textBox.value = JSON.stringify(quill.getContents());
        }


    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}