@using coReport.Models.ReportViewModel
@using coReport.Operations
@model CreateReportViewModel

@{
    ViewData["Title"] = "ویرایش گزارش";
}
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/quill/quill.snow.css" rel="stylesheet" />

<div class="p-2 box-widget">
    <div class="container-fluid">
        <form id="form" asp-controller="Report" asp-action="Edit" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
            <h5>ویرایش گزارش</h5>
            <hr />
            <input asp-for="AuthorId" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="col-md-3 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label asp-for="ProjectId" class="col-md control-label"></label>
                    <div class="col-md">
                        <select id="project_select" asp-for="ProjectId" style="width: 100%">
                            <option></option>
                            @foreach (var project in Model.Projects)
                            {
                                <option value="@project.Id">@project.Title</option>
                            }
                        </select>
                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="ProjectManagerIds" class="col-md control-label"></label>
                    <div class="col-md disabled-select">
                        <select id="manager_multiselect" asp-for="ProjectManagerIds" style="width: 100%" multiple="multiple">
                            <option></option>
                            @foreach (var user in Model.Managers)
                            {
                                <option value="@user.Id">@user.FirstName @user.LastName</option>
                            }
                        </select>
                        <span asp-validation-for="ProjectManagerIds" class="text-danger"></span>
                        @if (Model.IsSubmitedByManager)
                        {
                            <span class="text-muted"><small>به دلیل ثبت گزارش مدیر این فیلد غیرقابل تغییر است.</small></span>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    <label asp-for="ActivityId" class="col-md control-label"></label>
                    <div class="col-md">
                        <select id="activity_select" asp-for="ActivityId" class="form-control" style="width: 100%">
                            <option></option>
                            @foreach (var activity in Model.Activities)
                            {
                                <option value="@activity.Id">@activity.Name</option>
                            }
                        </select>
                        <span asp-validation-for="ActivityId" class="text-danger"></span>
                    </div>
                </div>
                <div id="subactivity" class="col-md-4 form-group">
                    <label class="col-md control-label"></label>
                    <div class="col-md">
                        <select asp-for="SubActivityId" class="form-control" style="width: 100%"></select>
                        <span asp-validation-for="SubActivityId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 form-group">
                    <label asp-for="TaskStartTime" class="col-md control-label"></label>
                    <div class="col-md">
                        <input asp-for="TaskStartTime" class="form-control" />
                        <span asp-validation-for="TaskStartTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label asp-for="TaskEndTime" class="col-md control-label"></label>
                    <div class="col-md">
                        <input asp-for="TaskEndTime" class="form-control" />
                        <span asp-validation-for="TaskEndTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />


            <div class="form-group">
                <div class="col-md-11">
                    <textarea id="text" hidden="hidden" asp-for="Text"></textarea>
                    <h5>گزارش</h5>
                    <div class="form-group" id="editor">
                    </div>
                    <span asp-validation-for="Text" class="text-danger"></span>
                    @if (Model.AttachmentName != null)
                    {
                        <div>
                            <a class="btn btn-link" asp-controller="Report" asp-action="DownloadReportAttachment"
                               asp-route-fileName="@Model.AttachmentName" asp-route-reportTitle="@Model.Title">
                                <i class="fas fa-paperclip"></i> دانلود ضمیمه
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="text-muted">ضمیمه‌ای موجود نیست.</div>
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Attachment" class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Attachment" class="form-control" />
                    <span class="text-muted"><small>افزودن ضمیمه جدید باعث حذف ضمیمه قبلی می‌شود.</small></span>
                    <span asp-validation-for="Attachment" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">ثبت</button>
                    <a class="btn btn-secondary" asp-controller="Account" asp-action="ManageReports">بازگشت</a>

                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/select2/js/i18n/fa.js"></script>
    <script src="~/lib/quill/quill.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>

    <script>
    $(document).ready(function () {
        $('#manager_multiselect').select2({
            placeholder: 'انتخاب کنید...',
            dir: 'rtl',
            language: 'fa'
        });
        $('#project_select').select2({
            placeholder: 'انتخاب کنید...',
            dir: 'rtl',
            language: 'fa'
        });
        $('#activity_select').select2({
            placeholder: 'فعالیت را انتخاب کنید...',
            minimumResultsForSearch: -1,
            dir: 'rtl',
            language: 'fa'
        });
        $('#subactivity :input').select2({
            placeholder: 'فعالیت را انتخاب کنید...',
            minimumResultsForSearch: -1,
            dir: 'rtl',
            language: 'fa'
        });


        if ('@Model.IsSubmitedByManager' == "True")
        {
            $('#manager_multiselect').prop('disabled', true);
        }
        //Page load fetch subactivities based on selected activity
        fetchSubactivityList($('#activity_select').val(), true);
        //Dynamic subactivity changes
        $('#activity_select').change(function () {
            fetchSubactivityList($(this).val());
        });
        $('#subactivity :input').change(function () {
            quill.root.dataset.placeholder = 'اطلاعات مختص ' + $('#subactivity :input option:selected').text()
                + ' را در گزارش خود وارد کنید...';
        });


    });

    function fetchSubactivityList(selectedId, init = false)
    {
        $.ajax({
            url: "@Url.Action("GetSubActivities","Report")",
            data: { selectedActivityId: selectedId }
        }).done(function (ajaxResult) {
            if (ajaxResult.length != 0) {
                $('#subactivity').prop('hidden', false);
                $('#subactivity >label').text($('#activity_select option:selected').text());
                $('#subactivity :input').prop('disabled', false);
                $('#subactivity :input').empty();
                ajaxResult.forEach(function (element) {
                    var option = new Option(element.Value, element.Key);
                    $('#subactivity :input').append(option).trigger('change');
                });
                if (init) {
                    $('#subactivity :input').val('@Model.SubActivityId');
                    $('#subactivity :input').trigger('change');
                }
            }
            else {
                $('#subactivity').prop('hidden', true);
                $('#subactivity :input').prop('disabled', true);
                quill.root.dataset.placeholder = 'اطلاعات مختص ' +
                    $('#activity_select option:selected').text() + ' را در گزارش خود وارد کنید...';
            }
        }).fail(function () {
            bootbox.alert({
                closeButton: false,
                message: "خطا در ارتباط با سرور!",
                buttons: {
                    ok: {
                        label: 'بستن'
                    }
                }
            });
        });
    }
    //Trigger download action
    function download(name)
    {
        $.ajax({
            url: "/Report/DownloadReportAttachment",
            data: { fileName: name }
        });
    }

    //Quil rich text initialization
    var FontAttributor = Quill.import('attributors/class/font');
    FontAttributor.whitelist = [
        'arial', 'default', 'times-new-roman'
    ];
    var Size = Quill.import('attributors/style/size');
    Size.whitelist = ['12px', '15px', '18px', '20px'];
    Quill.register(Size, true);
    Quill.register(FontAttributor, true);

    var toolbarOptions = [
      [{ 'font': ['arial', 'default', 'times-new-roman'] }],
      [{ 'size': ['12px', '15px', '18px', '20px'] }],
      ['bold', 'italic', 'underline', 'strike'],
      [{ 'align': [] }],
      [{ 'direction': 'rtl' }],
      [{ 'color': [] } , { 'background': [] }],
      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'header': [1, 2, 3, false] }],
      ['code-block']
     ];

    var quill = new Quill('#editor', {
        modules: {
    toolbar: toolbarOptions
    },
    theme: 'snow'
    });
    quill.setContents(@Html.Raw(Model.Text));

    $('#form').on('submit', function () {
        $('#manager_multiselect').prop('disabled', false);//Enabling the select element to post with the form
        var textBox = document.getElementById("text");
        textBox.value = JSON.stringify(quill.getContents());
    });
    </script>
}
