@using coReport.Models.ReportViewModel
@model ManagerReportViewModel
@{
    ViewData["Title"] = "گزارش مدیر";
}


    <div class="p-2 box-widget">
        <a class="btn btn-secondary" asp-controller="Manager" asp-action="ManageReports" asp-route-nav="unseen">بازگشت</a>
        <button class="btn btn-primary" id="exportButton">خروجی اکسل</button>
        <table id="report-table" class="table" style="margin-top:20px">
            <tr>
                <th>نام</th>
                <th>گزارش</th>
                <th>نام پروژه</th>
                <th>ساعت کار</th>
            </tr>
            @foreach (var element in Model.ReportElements)
            {
                <tr>
                    <td>@element.Author.FirstName @element.Author.LastName</td>
                    <td>
                        <div class="col-md-10">
                            <textarea readonly="readonly" cols="20" rows="4" class="form-control"> @element.Text</textarea>
                        </div>
                    </td>
                    <td>@element.ProjectName</td>
                    <td>@element.WorkHour.ToString("hh\\:mm")</td>
                </tr>
            }
        </table>
        @if (!Model.ReportElements.Any())
        {
            <div class="text-center"><b>گزارشی موجود نیست.</b></div>
        }
    </div>

<script src="~/lib/FileSaver.js/FileSaver.js"></script>
<script src="~/lib/xlsx/xlsx.core.min.js"></script>
<script src="~/lib/TableExport/js/tableexport.js"></script>


@section scripts
{
    <script>
        $(document).ready(function()
        {
            var instance = new TableExport(document.getElementById("report-table"), {
                  headers: true,
                  footers: true,
                  formats: ["xlsx"],
                  filename: "@Model.Date.Date.ToString("MM/dd/yyyy")",
                  exportButtons: false,
                  ignoreRows: null,
                  ignoreCols: null,
                  RTL: true,
                  sheetname: "id"
            });
            var exportData = instance.getExportData()['report-table']['xlsx'];
            $('#exportButton').click(function () {
                instance.export2file(exportData.data, exportData.mimeType, exportData.filename,
                    exportData.fileExtension, exportData.merges, exportData.RTL, exportData.sheetname);
            });

        });
    </script>
}