@using coReport.Models.MessageViewModels
@using coReport.Models.MessageModels
@model MessageViewModel

<div class="border border-dark p-2 rounded card-widget seen-@Model.IsViewed" id="message_@Model.Id">
    <div class="col">
        @if (Model.Type == MessageType.System_Notification || Model.Type == MessageType.Manager_Review_Notification)
        {
            <h6><i class="fas fa-desktop"></i> <b>@Model.Title</b></h6>
        }
        else if (Model.Type == MessageType.Warning)
        {
            <h6 style="color:red"><i class="fas fa-exclamation-triangle"></i> <b>@Model.Title</b></h6>
        }
        else if (Model.Type == MessageType.Message)
        {
            <h6><b>@Model.Title</b></h6>
        }

        @if (Model.Type == MessageType.Manager_Review_Notification)
        {
            <span class="span-control"><i class="fas fa-user-tie"></i> @Model.AuthorName</span>
        }
        else if (Model.Type != MessageType.Warning || Model.Type == MessageType.Message)
        {
            <span class="span-control"> @Model.AuthorName</span>
        }
        <span class="span-control"><small><i class="fas fa-calendar-alt"></i> @Model.Time.GetDate()</small></span>
        <span><small><i class="far fa-clock"></i> @Model.Time.GetTime()</small></span>
        <button onclick="ViewMessage(@Model.Id)"
                class="btn btn-primary float-left span-control" style="margin-top: -15px">
            <i class="far fa-eye"></i> مشاهده
        </button>

        @if (Model.Type != MessageType.Warning)
        {
            <button class="btn btn-danger float-left span-control" onclick="DeleteMessage(@Model.Id)" style="margin-top:-15px">
                <i class="fas fa-trash-alt"></i> حذف
            </button>
        }
    </div>
</div>
